button {
    outline: none;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

/* Khung game */
#container {
    position: relative;
    height: 480px;
    width: 350px;
    border: 1px solid #ccc;
    background: url('../sprites/bg.png');
    overflow: hidden;
    margin: 80px auto;
}

/* Con chim */
#bird {
    position: absolute;
    background: url('../sprites/bird.png');
    height: 42px;
    width: 65px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 20%;
    left: 15%;

    /* Hiệu ứng animation Xoay mượt */
    transition: transform 0.2s ease-in-out;
}

/* Ống nước (màu xanh lá) */
.pole {
    position: absolute;
    height: 170px;
    width: 60px;
    background-color: #33cc33;   /* màu xanh lá như gốc */
    right: -64px;
    border: 2px solid #000;
}

/* Ống trên */
#pole_1 {
    top: 0;
    border-top: none;
}

/* Ống dưới */
#pole_2 {
    bottom: 0;
    border-bottom: none;
}

/* Điểm hiện tại */
#score_span {
    font-size: 48px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 10px;
    color: white;
    text-shadow: 2px 2px 5px black;
}

/* High Score */
#high_score {
    position: absolute;
    right: 10px;
    top: 10px;
    color: yellow;
    font-size: 20px;
    text-shadow: 1px 1px 3px black;
    font-weight: bold;
}

/* Level */
#level_display {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: white;
    text-shadow: 2px 2px 3px black;
    z-index: 100;
}

/* Thông báo chiến thắng */
#win_message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: #00FF00;
    text-align: center;
    z-index: 200;
    font-weight: bold;
}

/* Nút chơi lại */
#restart_btn {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    color: #555;
    font-size: 35px;
    border: none;
    cursor: pointer;
    display: none;
    border: 1px solid #e5e5e5;
}

/* Nút Play */
#play_btn {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 0;
    font-size: 26px;
    color: #fff;
    text-shadow: 2px 2px 3px black;
}
